.container{
  max-width: 1080px;
  margin: 20px auto;
  /* background-color: #fff; */
  /* height: 100vh; */
}
.header{

  /* background: #ebebeb url(https://www.awxcdn.com/adc-assets/images/hero/5/1024x450.jpg) 50% no-repeat;
  background: url(https://www.awxcdn.com/adc-assets/images/hero/5/1024x450.jpg) 50% no-repeat,-webkit-gradient(linear,left top,left bottom,from(#878787),to(#ebebeb));
  background: url(https://www.awxcdn.com/adc-assets/images/hero/5/1024x450.jpg) 50% no-repeat,linear-gradient(#878787,#ebebeb);
  background-size: cover; */
}
.body{
  margin-top: 50px;
  background-color: #fff;
}